<link rel="stylesheet" href="/footer.css">
<div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer>
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <h3 class="text-muted mb-md-0 mb-5 bold-text">CodeShare</h3>
                    </div>
                   
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>VIJAY KRISHNA VISHWAKARMA</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> vijaykrishna0205@gmail.com</small>
                    </div>
                     
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>VISHAL NAGAR</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span> dhakadvishal99@gmail.com</small>
                    </div>
                    
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                        <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p><small class="rights"><span>&#174;405Found</span></small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>SHREYA SHARMA</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> shreyasharma943085@gmail.com</small>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>HARSHIT SINGHAL</b></h6><small><span><i class="fa fa-envelope" aria-hidden="true"></i></span> harshitsinghal0006@gmail.com</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>