<link rel="stylesheet" href="/score.css">
<div class="note-" id="note-pannel">
    
    
    <div class="note-textarea">
    
  
    <textarea class="form-control rounded-0 note-area" id="note-area" rows="20" placeholder="Write Something!!!"></textarea>
    
  
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" id="submit-c" onclick="generateNote()">Download Notes</button>
  

</div>