<link rel="stylesheet" href="/score.css">
<div class="note-" id="note-pannel">
    <ul class="nav nav-tabs"style="background-color:rgba(0, 0, 0, 0.384);height: 100% color=white; padding-right: 3px;">
        <li class="active"><a data-toggle="tab" href="#Feedback">Notes</a></li>
    </ul>
    
    <div class="note-textarea">
    
  
    <textarea class="form-control rounded-0 note-area" id="note-area" rows="10"></textarea>
    
  
</div>

</div>