
<div class="col-sm-6" style="z-index: 10000; width: 300px;">
  <ul class="nav nav-pills" id="videoTab" >
    <li class="active" style="width:113%;   border: 4px solid #040700;"><a data-toggle="tab" href="#video" style="background-color: rgba(8, 8, 8, 0.459);color: white;">Video Chat</a></li>
  </ul>
  <img id="audio_handler" alt="Turn audio off" src="/audio_on.png"  onClick="audio()"></button>
    <img id="video_handler" alt="Turn camera off" src="/camera_on.png"  onClick="camera()"></button>
    <img id="down_handler" alt="Turn chat down" src="/down.jpg"  onClick="downChat()"></button>
    <img id="up_handler" alt="Turn chat up" src="/up.jpg"  onClick="upChat()"></button> 

<div class="tab-content ">
  <div id="video" class="tab-pane fade in active">
    <div id="video-grid1" >
      
      <img id="default_image" src="/person.jpg" >
     
    </div>
    <div id="video-grid2" >
        <img id="default_image_other" src="/other_person.png" >
        <img id="default_image_others" src="/waiting.png" >
        
    </div>
  

  
  </div>
 

     </div>
     </div>